<h1>Hello World!</h1>

<br>
{{ firstName }} {{ lastName }}
<br>

{{ if canShow firstName lastName}}
<br>

{{#if canShow}}
  <h2>Show</h2>
{{else}}
  <h2>Not Show</h2>
{{/if}}

<br>
{{ log 'My log name is: ' firstName }}
<br>
{{ concat firstName '-' lastName }}
<br>
{{ get myList '0.name' }}


<ul>
  {{#each myList as |item index| }}
    <li>{{index}}: {{item.name}} -  {{item.age}}</li>
  {{/each}}
</ul>


{{#each-in myNumbers as |category numbers|}}
<ul>
  <li>{{category}}</li>
  {{#each numbers as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>
{{/each-in}}

<br>
{{ snake-case 'Minha snake case exemplo' }}


{{ outlet }}